<!DOCTYPE html>
<html>
  <head>
    <title>CodeBreaker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/codebreaker.css">
  </head>
  <body>
    <% unless !adjust && @request.cookies['settings'] %>
      <div id="settings">
        <form method="post" action="/accept">
          <label>Secret code's numbers range: minimum - </label>
          <input name="first" type="number" min="0" max="9" value="<%= sets[0] %>" title="Must be from 0 to 9. If not - will be automatically set to the nearest number.">
          <label>, maximum - </label>
          <input name="last" type="number" min="0" max="9" value="<%= sets[1] %>" title="Must be from 0 to 9. If not - will be automatically set to the nearest number.">
          <label>. Secret code length:</label>
          <input name="length" type="number" min="1" max="15" value="<%= sets[2] %>" title="Minimum - 1, maximum - 15.">
          <input type="submit" style="width: 100px;" value="Accept" title="Accept and start new game with this parameters.">
        </form>
      </div>
      <div id="clearstat">
        <form method="post" action="/clearstat">
          <label>Untrack single player:</label>
          <input name="nick" type="text" title="Enter player's nickname here." size="28"></br>
          <input name="all" type="checkbox" style="width: 26px; height: 26px;"><label>Clear statistics for all players.</label></br>
          <label>Enter administration password:</label>
          <input name="passwd" type="password" title="Administrators password." size="20"></br>
          <input type="submit" value="Clear selected" title="Submit after password enter." style="width: 20%; height: 100px; background: #133283; font-size: 35px; color: black; border: inset black; text-align: center; position: absolute; margin: -105px 1020px; color: red;">
        </form>
      </div>
    <% else %>
      <div id="settings">
        <span>Secret code's numbers range: minimum - <b><%= sets[0] %></b>, maximum -
        <b><%= sets[1] %></b>. Secret code length: <b><%= sets[-1] %></b>.</span>
      </div>
      <% end %>
    <% if loose %>
<%# loose %>
      <div id="loose">
        <p>You've used all attempts but code is still unbroken.</p>
        <p>Don't give up - just hit <b>"Start new game!"</b> button.</p>
      </div>
    <% elsif win %>
<%# save (render if player win the game); do not save results if name is empty %>
      <% unless saved %>
        <div id="winner">
          <p><b>Congratulations!!! You've breaked this code, <%= @player_name %>!</b></p>
          <p>If you want to save this game, please, enter your name:</p>
          <form method="post" action="/save">
            <input name="save" type="text" value=<%= @player_name %>>
            <input style="color:black;background: #133283;font-size: 20px;border: inset black;" type="submit" value="Save progress!">
          </form>
        </div>
      <% else %>
        <div id="winner">
          <% unless @request.cookies['name'] %>
            <p>Name can't be blank. Game is not saved!</p>
          <% else %>
            <p><b><%= @player_name %></b>, your game successfully saved!</p>
          <% end %>
        </div>
      <% end %>
    <% elsif attempts %>
<%# guess %>
      <div id="container">
        <p>Enter your guess<b><%=" #{name}"if name %></b>:</p>
        <form method="post" action="/guess">
          <input name="guess" type="text" title="Enter code that have <%=sets[-1]%> numbers from <%= sets[0] %> to <%= sets[1] %>. Numbers may appear more than once."></br>
          <input style="color:black;background: #133283;font-size: 40px;border: inset black;" type="submit" value="Go!" title="Compare guess with secret code!">
        </form>
      </div>
<%# attempts %>
      <div id="attempt">
        <p title="Number of attempts that left to break the code.">Attempts left: <b><%= attempts %></b></p>
      </div>
<%# hint %>
      <% unless help%>
        <div id="hint">
          <form method="post" action="/hint">
            <input type="submit" value="Get hint!" title="Show one random number of secret code!">
          </form>
        </div>
      <% else %>
        <div id="hint">
          <b>---> <%= help %> <---</b>
        </div>
      <% end %>
    <% end %>
<%# flash (message apperas if guess have invalid format) %>
    <% if flash %>
      <div id="flash">
      <p> <%= flash %></p>
      </div>
    <% end %>
<%# guess_log %>
    <% if guess_log %>
      <div id="guess">
        <% guess_log.reverse.each do |item| %>
          <h2>"<%= item.first %>" >> "<%= item.last %>"</h2>
        <% end %>
      </div>
    <% end %>
<%# statistics - by total games played %>
    <div id="statistics">
      <% if stat_games_played %>
        <div id="games_played">
          <p><b>Assertive players</b> (total games played)</p>
          <ol>
            <% stat_games_played.each do |name, games| %>
              <li><b>"<%= name %>"</b> - <%= render_stat(games) %>.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by total games won %>
      <% if stat_games_won %>
        <div id="games_won">
          <p><b>Hard codebreakers</b> (total games won)</p>
          <ol>
            <% stat_games_won.each do |name, games| %>
              <li><b>"<%= name %>"</b> - <%= render_stat(games.count) %>.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by the rate of games won to total games played (in %) %>
      <% if stat_games_quot %>
        <div id="games_quot">
          <p><b>Players with the highest win rate</b></p>
          <ol>
            <% stat_games_quot.each do |name, quot| %>
              <li><b>"<%= name %>"</b> - <%= quot %>%.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by the time needed to break code %>
      <% if stat_duration %>
        <div id="games_duration">
          <p><b>The fastest codebreakers</b></p>
          <ol>
            <% stat_duration.each do |name, tm| %>
              <li><b>"<%= name %>"</b> - <%= tm %> sec.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - the longest win streak %>
      <% if stat_win_streak %>
        <div id="games_streak">
          <p><b>Players with the longest win streak</b></p>
          <ol>
            <% stat_win_streak.each do |name, strk| %>
              <li><b>"<%= name %>"</b> - <%= render_stat(strk) %>.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - the lowest guess count %>
      <% if stat_guess_count %>
        <div id="guess_count">
          <p><b>Lucky codebreakers</b> (attempts used)</p>
          <ol>
            <% stat_guess_count.each do |name, atmpts| %>
              <li><b>"<%= name %>"</b> - <%= render_stat(atmpts, 'attempts') %>.</li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
    <% if !adjust && @request.cookies['settings']%>
<%# start (button) %>
      <div id="start">
        <form method="post" action="/start">
          <input type="submit" value="Start new game!">
        </form>
      </div>
<%# settings (button) %>
      <div id="settings_button">
        <form method="post" action="/settings">
            <input type="submit" value="Game settings">
            </form>
        </div>
      <% end %>
  </body>
</html>
