<!DOCTYPE html>
<html>
  <head>
    <title>CodeBreaker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/codebreaker.css">
  </head>
  <body>
<%# start (button) %>
    <div id="start">
      <form method="post" action="/start">
        <input type="submit" value="Start new game!">
      </form>
    </div>
    <% if loose %>
<%# loose %>
      <div id="loose">
        <p>You've used all attempts but code is still unbroken.</p>
        <p>Don't give up - just hit <b>"Start new game!"</b> button.</p>
      </div>
    <% elsif win %>
<%# save (render if player win the game); do not save results if name is empty %>
      <% unless saved %>
        <div id="winner">
          <p><b>Congratulations!!! You've breaked this code, <%= @player_name %>!</b></p>
          <p>If you want to save this game, please, enter your name:</p>
          <form method="post" action="/save">
            <input name="save" type="text" value=<%= @player_name %>>
            <input style="color:black;background: #133283;font-size: 20px;border: inset black;" type="submit" value="Save progress!">
          </form>
        </div>
      <% else %>
        <div id="winner">
          <% unless @request.cookies['name'] %>
            <p>Name can't be blank. Game is not saved!</p>
          <% else %>
            <p><b><%= @player_name %></b>, your game successfully saved!</p>
          <% end %>
        </div>
      <% end %>
    <% elsif attempts %>
<%# guess %>
      <div id="container">
        <p>Enter your guess:</p>
        <form method="post" action="/guess">
          <input name="guess" type="text">
          <input style="color:black;background: #133283;font-size: 20px;border: inset black;" type="submit" value="Go!">
        </form>
      </div>
<%# attempts %>
      <div id="attempt">
        <p>Attempts left: <b><%= attempts %></b></p>
      </div>
<%# hint %>
      <% unless help%>
        <div id="hint">
          <form method="post" action="/hint">
            <input type="submit" value="Get hint!">
          </form>
        </div>
      <% else %>
        <div id="hint">
          <p>Hint: ---<%= help %>---</p>
        </div>
      <% end %>
    <% end %>
<%# flash (message apperas if guess have invalid format) %>
    <% if flash %>
      <div id="flash">
      <p> <%= flash %></p>
      </div>
    <% end %>
<%# guess_log %>
    <% if guess_log %>
      <div id="guess">
        <% guess_log.each do |item| %>
          <h2>"<%= item.first %>" >> "<%= item.last %>"</h2>
        <% end %>
      </div>
    <% end %>
<%# statistics - by total games played %>
    <div id="statistics">
      <% if stat_games_played %>
        <div id="games_played">
          <p><b>Assertive players</b> (total games played)</p>
          <ol>
            <% stat_games_played.each do |name, games| %>
              <li>"<%= name %>" - <%= games.count %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by total games won %>
      <% if stat_games_won %>
        <div id="games_won">
          <p><b>The most winning players</b> (total games won)</p>
          <ol>
            <% stat_games_won.each do |name, games| %>
              <li><%= name %> - <%= games.count %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by the rate of games won to total games played (in %) %>
      <% if stat_games_quot %>
        <div id="games_quot">
          <p><b>Players with the highest win rate</b></p>
          <ol>
            <% stat_games_quot.each do |name, quot| %>
              <li><%= name %> - <%= quot %>%</li>
            <% end %>
          </ol>
        </div>
      <% end %>
<%# statistics - by the time needed to break code %>
      <% if stat_duration %>
        <div id="games_duration">
          <p><b>Fastest players</b></p>
          <ol>
            <% stat_duration.each do |name, tm| %>
              <li><%= name %> - <%= tm %> sec</li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  </body>
</html>
